svg {
    background-color: #f5f5f5;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 12px sans-serif;
}

#editor {
    float: left;
    width: 45vw;
}

#mindmap {
    float: right;
    width: 45vw;
}

#text-editor {
    width: 45vw;
    height: 800px;
}

