<!DOCTYPE html>
<html>
<head>
    <title>Text to Mindmap</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='quill_snow.css')}}">
    
</head>
<body>
    <div id="navbar">
        <ul>
            <li><a href="">File</a></li>
            <li><a href="">Settings</a></li>
        </ul>

    </div>
    <div id="container">
        
        <div id="editor">
            <p>*hello</p>
            <ul></ul>
        </div>

        <div id="mindmap"> 
        </div>

    </div>
    <script src="{{url_for('static', filename='d3.js')}}"></script>
    <script src="{{url_for('static', filename='quill.js')}}"></script>
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>